/* Общие стили для секции "О нас" */
.about {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}

.description, .license-number {
    position: relative;
    height: 7.25rem; /* 116px */
    width: calc(100% - 1.875rem); /* 30px */
    padding: 0.9375rem; /* 15px */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem; /* 24px */
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(22, 27, 29, 0.25), -0.3125rem -0.3125rem 0.625rem rgba(250, 251, 255, 1); /* 5px 5px 10px */
    background-color: #F2F2F2;
    text-align: justify;
    color: #333;
    box-sizing: border-box;
    margin: 0;
}

.description {
    margin-bottom: 1.875rem; /* 30px */
}

.working-hours {
    position: relative;
    height: 16.375rem; /* 262px */
    width: 100%;
    grid-row: span 2;
    padding: 0.9375rem; /* 15px */
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 1.125rem; /* 18px */
    box-sizing: border-box;
}

.working-hours::before,
.working-hours::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #7E162E;
}

.working-hours::before {
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    border-width: 0.3125rem 0 0 0.3125rem; /* 5px */
}

.working-hours::after {
    bottom: 0;
    right: 0;
    width: 60%;
    height: 60%;
    border-width: 0 0.3125rem 0.3125rem 0; /* 5px */
}

/* Секция сертификатов */
.certificates-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem; /* 20px */
    padding: 1.25rem; /* 20px */
}

.certificates-section iframe {
    width: 100%;
    height: 37.5rem; /* 600px */
    border: none;
    border-radius: 0.5rem; /* 8px */
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 90%;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0,0,0,0.3); /* 0 5px 15px */
    background-color: #fefefe;
}

.close {
    position: absolute;
    top: 0.625rem; /* 10px */
    right: 1.5625rem; /* 25px */
    color: #fff;
    font-size: 2.1875rem; /* 35px */
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



@media (max-width: 480px) and (min-width: 320px)  {
   .about{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: auto;

   }

    .description ,.license-number{
        position: relative;
        height: auto;
        width: 100% ;
        margin-bottom: 1.875rem;
    }

    .license-number{
        grid-row: 2;
    }

    .working-hours{
        height: auto;
        width: 100%;
    }

    .certificates-section{
        height: auto; /* 600px */
        padding: 0;
    }

    .certificates-section iframe{
        height: fit-content;
    }


}