
.contact {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
}


.whatsapp-link, .telegram-link{
    position: relative;
    overflow: hidden;
    min-width: 150px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.25), -5px -5px 10px rgba(250, 251, 255, 1);
    background-color: #F2F2F2;
    border: none;


}


.gos-link {
    position: relative;
    margin: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.125rem;
    width: 100%;
    background-color: #F2F2F2;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.25), -5px -5px 10px rgba(250, 251, 255, 1);
    overflow-wrap: break-word;
}

 .gos-button {
    border: none;
    width: 45px;
    height: 45px;
    background-color: #7E162E;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.faq-button::after, .gos-button::after {
    content: '>';
}

.whatsapp img, .telegram img{
    width: 100%; /* Ширина изображения равна ширине контейнера */
    height:100%; /* Высота автоматически подстраивается под ширину */
    border-radius: 10px;
    /* Скругление углов изображения, если это необходимо */
}

.adress{
   position: relative;
    margin: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.125rem;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.25), -5px -5px 10px rgba(250, 251, 255, 1);
    overflow-wrap: break-word;
}

.contact-info {
    align-content: center;
    display: flex;
    position: relative;
    /* width: fit-content; */
    height: fit-content;
    padding: 15px;
    text-align: justify;
    font-size: 16px;
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.contact-info p{
    margin: 0;
    padding: 0;
}

.contact-info::before,
.contact-info:after {
    content: ""; /* Необходимо для отображения псевдоэлементов */
    position: absolute; /* Абсолютное позиционирование относительно .article */
    border-style: solid; /* Стиль границы */
    border-color:  #7E162E;; /* Цвет границы */
}

.contact-info:before {
    top: 0; left: 0; /* Позиционирование в левом верхнем углу */
    width: calc(60%); /* Ширина линии рамки, 60% от ширины блока */
    height: calc(60%); /* Высота линии рамки, 60% от высоты блока */
    border-width: 5px 0 0 5px; /* Толщина линии только сверху и слева */
}

.contact-info:after {
    bottom: 0; right: 0; /* Позиционирование в правом нижнем углу */
    width: calc(60%); /* Ширина линии рамки, 60% от ширины блока */
    height: calc(60%); /* Высота линии рамки, 60% от высоты блока */
    border-width: 0 5px 5px 0; /* Толщина линии только снизу и справа */
}

.yandex {
    width: 100%;
    display: flex;
    justify-content: center;
   grid-column: span 3;
}

.map-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Соотношение сторон 16:9 для iframe */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.map-link {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 0;
}

.map-link:last-of-type {
    top: 14px;
}

@media (max-width: 480px) and (min-width: 320px) {

.contact {
        width: 100%;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .whatsapp-link, .telegram-link {
        min-width: 100px;
    }

    .gos-link {
        width: 100%;
        grid-column: span 2;
    }

    .adress, .contact-info, .yandex {
        grid-column: span 2;
    }
}
