.documents-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem; /* 30px */
    margin: 0 auto;
}

.document-item {
    position: relative;
    width: 100%; /* Ширина с учетом отступов */
    padding: 0.9375rem; /* 15px */
    display: flex; /* Использование flexbox для центрирования содержимого */
    align-items: center; /* Центрирование по вертикали */
    justify-content: flex-start; /* Выравнивание по левому краю внутри flex-контейнера */
    font-size: 1.5rem; /* 24px */
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(22, 27, 29, 0.25), -0.3125rem -0.3125rem 0.625rem rgba(250, 251, 255, 1); /* 5px 5px 10px */
    background-color: #F2F2F2; /* Цвет фона */
    text-align: justify; /* Выравнивание текста по левому краю */
    color: #333; /* Цвет текста */
    box-sizing: border-box; /* Учитывает отступы в общий размер */
    margin: 0;
}

button {
    border: none;
    width: 2.8125rem; /* 45px */
    height: 2.8125rem; /* 45px */
    background-color: #7E162E; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    font-size: 1rem; /* 16px */
    display: flex; /* Использование flexbox для центрирования символа */
    align-items: center; /* Вертикальное центрирование символа */
    justify-content: center; /* Горизонтальное центрирование символа */
    border-radius: 10%; /* Процентное скругление углов */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Отступ справа */
    bottom: 0; /* Отступ снизу */
    cursor: pointer; /* Курсор в виде указателя для улучшения UX */
}

button::after {
    content: '>'; /* Символ '>' */
}

@media (max-width: 480px) and (min-width: 320px) {
    .documents-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .document-item {
        font-size: 1rem; /* 16px */
    }
}
