header nav ul {
    width: 100%; /* Фиксированная ширина */
    height: 60px; /* Фиксированная высота */
    list-style: none; /* Убираем маркеры списка */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Используем flexbox для горизонтального расположения элементов */
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: space-around; /* Равномерно распределяем элементы по горизонтали */
    box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.25), -5px -5px 10px rgba(250, 251, 255, 1); /* Двойная тень */
    background-color: #F2F2F2;
    border-radius: 10px; /* Скругление углов */
}

/* Стилизация ссылок в меню */
header nav li a {
    text-decoration: none; /* Убираем подчеркивание текста */
    color: #161B1D; /* Цвет текста ссылок */
    font-size: 1rem; /* Размер шрифта в rem для гибкости */
    font-weight: bold; /* Жирный шрифт */
}

/* Стили для ссылок при наведении */
header nav li a:hover {
    color: #7E162E; /* Изменение цвета текста при наведении */
}


@media (max-width: 480px) and (min-width: 320px) and (min-height: 667px) {
    .burger-menu {
        display: flex;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        right: 0;
        width: 100%;
        flex-direction: column;
        background-color: #F2F2F2;
        box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.25), -5px -5px 10px rgba(250, 251, 255, 1);
        border-radius: 0 0 10px 10px;
    }

    .menu.show {
        display: flex;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav li {
        width: 100%;
        padding: 10px 20px;
    }

    header nav li a {
        width: 100%;
    }
}