.notary-info{

    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}

.notary-description {
    margin-top: 30px;
    grid-column: 2;
    position: relative;
    min-height: 108px;
    width: 100%;
    padding: 15px; /* Отступы со всех сторон по 15 пикселей */
    display: flex; /* Использование flexbox для центрирования содержимого */
    align-items: center; /* Центрирование по вертикали */
    text-align: justify; /* Выравнивание по левому краю внутри flex-контейнера */
    font-size: 18px; /* Размер шрифта */
    box-sizing: border-box; /* Учитывает отступы в общий размер */
    margin-bottom: 30px;
}

.notary-description::before,
.notary-description:after {
    content: ""; /* Необходимо для отображения псевдоэлементов */
    position: absolute; /* Абсолютное позиционирование относительно .article */
    border-style: solid; /* Стиль границы */
    border-color:  #7E162E;; /* Цвет границы */
}

.notary-description:before {
    top: 0; left: 0; /* Позиционирование в левом верхнем углу */
    width: calc(60%); /* Ширина линии рамки, 60% от ширины блока */
    height: calc(60%); /* Высота линии рамки, 60% от высоты блока */
    border-width: 5px 0 0 5px; /* Толщина линии только сверху и слева */
}

.notary-description:after {
    bottom: 0; right: 0; /* Позиционирование в правом нижнем углу */
    width: calc(60%); /* Ширина линии рамки, 60% от ширины блока */
    height: calc(60%); /* Высота линии рамки, 60% от высоты блока */
    border-width: 0 5px 5px 0; /* Толщина линии только снизу и справа */
}

.notary-photo{
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #7E162E;
    /*background:  center center no-repeat; /* Сокращенный синтаксис для фона */
    background-size: cover;

}

.notary-services{
    grid-column: 2;
    position: relative;
    min-height: auto;
    /* padding-left: 15px; */
    /* padding-right: 15px; */

    /* display: flex; */
    align-items: center;
    text-align: justify;
    font-size: 18px;
    /* box-sizing: border-box; */
    margin-bottom: 30px;
}

 p{
    margin: 0;
}

.notary-article-link{
    grid-column: 2;
    position: relative;
    /* height: 76px; */
    width: 100%;
    /* padding: 15px; */
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 18px;
    /* box-sizing: border-box; */
    margin-bottom: 30px;
}

.faq-section {
    grid-column: 2;
    position: relative;
    margin: 0;
    padding: 15px; /* Отступы со всех сторон по 15 пикселей */
    display: flex; /* Использование flexbox для центрирования содержимого */
    align-items: center; /* Центрирование по вертикали */
    justify-content: flex-start; /* Выравнивание по левому краю внутри flex-контейнера */
    font-size: 18px; /* Размер шрифта */
    width: 100% ;
    height: 76px;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.25), -5px -5px 10px rgba(250, 251, 255, 1); /* Двойная тень */
}

.faq-button {
    border: none;
    width: 45px; /* Ширина кнопки */
    height: 45px; /* Высота кнопки */
    background-color: #7E162E; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    font-size: 24px; /* Размер шрифта символа */
    display: flex; /* Использование flexbox для центрирования символа */
    align-items: center; /* Вертикальное центрирование символа */
    justify-content: center; /* Горизонтальное центрирование символа */
    border-radius: 10%; /* Процентное скругление углов */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Отступ справа */
    bottom: 0; /* Отступ снизу */
    cursor: pointer; /* Курсор в виде указателя для улучшения UX */
}

/* Добавление символа '>' с использованием псевдо-элемента */
.faq-button::after {
    content: '>'; /* Символ '>' */
}



.category-tabs {
    width: calc(100% - 30px);
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin-bottom: 30px;
}

.category-tab {
    /* margin-right: 5px; */
    padding: 15px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.category-tab.active {
    background-color: #007bff;
    color: white;
}

.action-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.action-description {
    padding: 5px;
    color: #666;
}

.actions-list{
    grid-column: 1;
    width: calc(100% - 30px);
}




