.legal-document {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}

.legal-document article {
    position: relative;
    min-height: 4.8125rem; /* 77px */
    width: calc(100% - 1.875rem); /* 30px */
    display: flex; /* Использование flexbox для центрирования содержимого */
    align-items: center; /* Центрирование по вертикали */
    text-align: justify; /* Выравнивание по левому краю внутри flex-контейнера */
    font-size: 16px; /* 16px */
    box-sizing: border-box; /* Учитывает отступы в общий размер */
    margin-bottom: 1.875rem; /* 30px */
}

.gos-link {
    position: relative;
    margin: 0;
    padding: 0.9375rem; /* 15px */
    display: flex; /* Использование flexbox для центрирования содержимого */
    align-items: center; /* Центрирование по вертикали */
    justify-content: flex-start; /* Выравнивание по левому краю внутри flex-контейнера */
    font-size: 1.125rem; /* 18px */
    width: 100%;
    height: fit-content; /* 77px */
    background-color: #F2F2F2;
    border-radius: 0.625rem; /* 10px */
    box-sizing: border-box;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(22, 27, 29, 0.25), -0.3125rem -0.3125rem 0.625rem rgba(250, 251, 255, 1); /* 5px 5px 10px */
}

.gos-button {
    border: none;
    width: 2.8125rem; /* 45px */
    height: 2.8125rem; /* 45px */
    background-color: #7E162E; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    font-size: 1.5rem; /* 24px */
    display: flex; /* Использование flexbox для центрирования символа */
    align-items: center; /* Вертикальное центрирование символа */
    justify-content: center; /* Горизонтальное центрирование символа */
    border-radius: 10%; /* Процентное скругление углов */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Отступ справа */
    bottom: 0; /* Отступ снизу */
    cursor: pointer; /* Курсор в виде указателя для улучшения UX */
}

.gos-button::after {
    content: '>'; /* Символ '>' */
}

.notary-article-link {
    position: relative;
    height: 4.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 1.125rem;
    margin-bottom: 1.875rem;
    grid-column: span 2;
    flex-direction: column;
}

.tariffs-section {
    width: 100%;
}

#tariffs-container {
    display: grid;
    flex-direction: column;
    width: 100%;
}

.title-button {
    width: 100%;
    background-color: #7E162E;
    color: white;
    border: none;
    padding: 0.9375rem 0.9375rem; /* 15px 15px */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:18px; /* 16px */
    cursor: pointer;
    border-radius: 0.625rem; /* 10px */
    margin-bottom: 1.875rem; /* 30px */
}

.services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.875rem; /* 30px */
    width: 100%;
}

.service-button {
    cursor: pointer;
    background-color: #F2F2F2;
    border-radius: 0.625rem; /* 10px */
    box-sizing: border-box;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(22, 27, 29, 0.25), -0.3125rem -0.3125rem 0.625rem rgba(250, 251, 255, 1); /* 5px 5px 10px */
    color: #000000;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem; /* 16px */
    margin-bottom: 1.875rem; /* 30px */
    border: none;
}

.tariff-block {
    border: 0.0625rem solid #7E162E; /* 1px */
    padding: 0.625rem; /* 10px */
    margin: 0.3125rem 0; /* 5px 0 */
    border-radius: 0.25rem; /* 4px */
    background-color: #f9f9f9;
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 6.25rem; /* 100px */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1.25rem; /* 20px */
    border: 0.0625rem solid #7E162E; /* 1px */
    width: 80%;
    border-radius: 0.625rem; /* 10px */
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem; /* 28px */
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tariffs-container {
    display: flex;
    justify-content: space-between;
}

.tariff-column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

@media (max-width: 480px) and (min-width: 320px) and (min-height: 667px) {
    .legal-document {
        display: grid;
        grid-template-columns: 1fr;
    }

    .legal-document article {
        width: 100%;
        height: auto;
        font-size: 16px;
    }

    .gos-link {
        width: 100%;
        height: 2.8125rem;
        font-size: 1rem; /* 16px */
        padding-left: 15px  ;
    }

    .services-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.875rem; /* 30px */
        width: 100%;
    }

    .tariffs-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
