.legal-document{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}

.legal-document article {
    position: relative;
    min-height: 77px;
    width: calc(100% - 30px);
    display: flex; /* Использование flexbox для центрирования содержимого */
    align-items: center; /* Центрирование по вертикали */
    text-align: justify; /* Выравнивание по левому краю внутри flex-контейнера */
    font-size: 16px; /* Размер шрифта */
    box-sizing: border-box; /* Учитывает отступы в общий размер */
    margin-bottom: 30px;
}

.gos-link{
    position: relative;
    margin: 0;
    padding: 15px; /* Отступы со всех сторон по 15 пикселей */
    display: flex; /* Использование flexbox для центрирования содержимого */
    align-items: center; /* Центрирование по вертикали */
    justify-content: flex-start; /* Выравнивание по левому краю внутри flex-контейнера */
    font-size: 18px; /* Размер шрифта */
    width: 100%;
    height: 77px;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.25), -5px -5px 10px rgba(250, 251, 255, 1); /* Двойная тень */
}


.gos-button {
    border: none;
    width: 45px; /* Ширина кнопки */
    height: 45px; /* Высота кнопки */
    background-color: #7E162E; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    font-size: 24px; /* Размер шрифта символа */
    display: flex; /* Использование flexbox для центрирования символа */
    align-items: center; /* Вертикальное центрирование символа */
    justify-content: center; /* Горизонтальное центрирование символа */
    border-radius: 10%; /* Процентное скругление углов */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Отступ справа */
    bottom: 0; /* Отступ снизу */
    cursor: pointer; /* Курсор в виде указателя для улучшения UX */
}

/* Добавление символа '>' с использованием псевдо-элемента */
 .gos-button::after {
    content: '>'; /* Символ '>' */
}

.tariffs-section {
    width: 100%;
}

#tariffs-container {
    display: grid;
    flex-direction: column;
    width: 100%;
}

.title-button {
    width: 100%;
    background-color: #7E162E;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 30px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 100%;
}

.service-button {
    cursor: pointer;
    border: 1px solid #ccc;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.tariff-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tariffs-container {
    display: flex;
    justify-content: space-between;
}

.tariff-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48%;
}
