{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css') }}">
<script src="{{ url_for('static', filename='js/about_us.js') }}"></script>
{% endblock %}

{% block title %}
Нотариальные тарифы и регуляции
{% endblock %}

{% block content %}

    <section class="about">
     <h2 class="sr-only">О нашей конторе</h2>
        <p class="description">Нотариальный округ города Нового Уренгоя Ямало-Ненецкого автономного округа нотариус Бармина Татьяна Юрьевна</p>

        <time class="working-hours">
        <!-- Добавьте сюда время работы или оставьте пустым для дальнейшего наполнения -->
        </time>

        <p class="license-number">Приказ о назначении № 6 от 02 февраля 2021 года Управления Министерства Юстиции Российской Федерации по Ямало-Ненецкому автономному округу</p>
    </section>

     <section class="certificates-section">
        <div class="certificate" data-pdf="{{ url_for('static', filename='certificate1.pdf') }}">
            <img src="{{ url_for('static', filename='pdf/certificate1.pdf') }}" alt="Certificate 1">
        </div>
        <div class="certificate" data-pdf="{{ url_for('static', filename='certificate2.pdf') }}">
            <img src="{{ url_for('static', filename='pdf/certificate2.pdf') }}" alt="Certificate 2">
        </div>
        <div class="certificate" data-pdf="{{ url_for('static', filename='certificate3.pdf') }}">
            <img src="{{ url_for('static', filename='pdf/certificate3.pdf') }}" alt="Certificate 3">
        </div>
    </section>



{% endblock %}
