{% extends 'base.html'%}

{% block head%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_us.css')}}">
    <link rel="" href="{{ url_for('static', filename='js/.js')}}">
{% endblock %}

{% block title %}
О нас
{% endblock %}

{% block content %}

    <section class="about">
    <p class="description">Нотариальный округ города Нового Уренгоя Ямало-Ненецкого автономного округа нотариус Бармина Татьяна Юрьевна</p>


    <time class="working-hours">
        <!-- Добавьте сюда время работы или оставьте пустым для дальнейшего наполнения -->
    </time>


    <p class="license-number">Лицензия №98 выдана 23 декабря 2014 года Управлением Министерства Юстиции Российской Федерации по Ямало-Ненецкому автономному округу</p>
    </section>

{% endblock %}