<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">



    {% block head%}
    {% endblock %}
</head>
<body>

    <header class="navbar">
       <nav>
            <div class="burger-menu" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}" >Главная</a></li>
                <li><a href="{{ url_for('about_us') }}" >О нас</a></li>
                <li><a href="{{ url_for('notarial_acts') }}" >Нотариальные действия</a></li>
                <li><a href="{{ url_for('tariffs') }}" >Тарифы</a></li>
                <li><a href="{{ url_for('contact_us') }}" >Контакты</a></li>
                <li><a href="{{ url_for('FAQ') }}" >FAQ</a></li>
            </ul>
        </nav>


        {% block header %}
        {% endblock %}

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
{% block script %}
{% endblock %}

<footer>
    <article><a href="https://notariat.ru/ru-ru/federal-notary-chamber/info/"><img src="{{ url_for('static', filename='img/FederalNotaryChamber.png') }}" ></a><p>Федеральная нотариальная палата</p></article>
    <article><a href="https://89.notariat.ru/ru-ru/"><img src="{{ url_for('static', filename='img/YNO.png') }}" ></a><p>Нотариальная палата Ямало-Ненецкого автономного округа</p></article>

    <section class="contact-footer">
        <p><strong>Номер телефона:</strong> 8(3494) 25-59-95</p>
        <p><strong>E-mail:</strong> <a href="mailto:barmina.t.yu89@mail.ru">barmina.t.yu89@mail.ru</a></p>
        <p><strong>ИНН:</strong> 890509655707</p>
    </section>

</footer>

</body>
</html>