{% extends 'base.html'%}

{% block title %}
Главная
{% endblock %}

{% block content %}

<section class="name-and-logo">
    <div class=" notary-name"></div>
    <div class="notary-logo"></div>
</section>



<section class="about">
    <div class="description"></div>
    <div class="working-hours"></div>
    <div class="llicense-number"></div>
</section>

<section class="notarial-actions">
    <div class="section-title"></div>
    <div class="article"></div>
    <div class="actions-list"></div>
    <div class="view-article-button"></div>
    <div class="text-related-to-notary"></div>
</section>

<section class="price-actions">
    <div class="section-title"></div>
    <div class="tariffs"></div>
    <div class="text-related-to-tariffs"></div>
    <div class="faq-link"></div>
    <div class="gos-link"></div>
</section>

{% endblock %}