{% extends 'base.html'%}

{% block title %}
Главная
{% endblock %}

{% block content %}

<section class="logo">
    <div class="logo-name"></div>
    <div class="logo-img"></div>
</section>



<section class="about">
    <div class="notary-district"></div>
    <div class="schedule"></div>
    <div class="license"></div>
</section>

<section class="notarial_actions">
    <div class="title"></div>
    <div class="article"></div>
    <div class="actions"></div>
    <div class="button"></div>
    <div class="text"></div>
</section>

<section class="prise_action">
    <div class="title"></div>
    <div class="prise"></div>
    <div class="text"></div>
    <div class="FAQ"></div>
    <div class="gos"></div>
</section>

{% endblock %}