{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/notarial_acts.css') }}">
<!-- Метатеги для SEO -->
<meta name="description" content="Наша нотариальная контора совершает все виды нотариальных действий, предусмотренных действующим законодательством.">
<meta name="keywords" content="нотариальные действия, нотариальные услуги, доверенности, завещания, регистрация, свидетельства, наследство, Нотариальная палата Ямало-Ненецкого автономного округа">
<meta name="author" content="Нотариус Бармина Татьяна Юрьевна">

<!-- Open Graph метатеги -->
<meta property="og:title" content="Нотариальные действия - Нотариус Бармина Татьяна Юрьевна">
<meta property="og:description" content="Наша нотариальная контора совершает все виды нотариальных действий, предусмотренных действующим законодательством.">
<meta property="og:image" content="{{ url_for('static', filename='img/logo.jpg') }}">
<meta property="og:url" content="{{ url_for('notarial_acts', _external=True) }}">
<meta property="og:type" content="website">
{% endblock %}

{% block title %}
Нотариальные действия
{% endblock %}

{% block content %}

<section class="notary-info">
    <h1 class="sr-only">Нотариальные действия нашей конторы</h1>

    <section class="notary-description">
        <h2 class="sr-only">Описание нотариальной конторы</h2>
        <p>Наша нотариальная контора совершает все виды нотариальных действий, предусмотренных действующим законодательством.</p>
    </section>

    <figure class="notary-photo">
        <img src="{{ url_for('static', filename='img/notary_office.jpg') }}" alt="Фотография нотариальной конторы">
        <figcaption>Нотариальная контора</figcaption>
    </figure>

    <section class="notary-services">
        <h2 class="sr-only">Список нотариальных услуг</h2>
        <p>Список охватывает широкий спектр нотариальных услуг, варьирующихся от удостоверения доверенностей и завещаний до регистрации уведомлений о залоге и выдачи свидетельств о праве на наследство, предоставляемых Нотариальной палатой Ямало-Ненецкого автономного округа.</p>
    </section>

    <section class="notary-article-link">
        <h2 class="sr-only">Основы законодательства о нотариате</h2>
        <p><a href="URL-статьи">ст. 35 «Основ законодательства Российской Федерации о нотариате»</a>.</p>
    </section>

    <aside class="faq-section">
        <h2 class="sr-only">Госуслуги и запись на прием</h2>
        <p>Запишитесь на прием через госуслуги</p>
        <button class="faq-button" onclick="location.href='https://www.gosuslugi.ru/600771/1/form'" aria-label="Записаться на прием через госуслуги"></button>
    </aside>
</section>

<section class="category-tabs">
    {% for category in categories %}
    <div class="category-tab" data-category-id="{{ category.id }}">
        {{ category.name }} ({{ category.actions|length }})
    </div>
    {% endfor %}
    <div id="actions-list" class="actions-list"></div>
</section>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/notarial_acts.js') }}"></script>
{% endblock %}
