{% extends 'base.html'%}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notarial_acts.css') }}">
    <script src="{{ url_for('static', filename='js/') }}"></script>
{% endblock %}

{% block title %}
Нотариальные действия
{% endblock %}


{% block content %}

    <section class="notary-info">
    <section class="notary-description">
        <p>Наша нотариальная контора совершает все виды нотариальных действий, предусмотренных действующим законодательством.</p>
    </section>

    <figure class="notary-photo">
        <img src="" alt="Фотография нотариальной конторы">
        <figcaption>Нотариальная контора</figcaption>
    </figure>

    <section class="notary-services">
        <p>Список охватывает широкий спектр нотариальных услуг, варьирующихся от удостоверения доверенностей и завещаний до регистрации уведомлений о залоге и выдачи свидетельств о праве на наследство, предоставляемых Нотариальной палатой Ямало-Ненецкого автономного округа.</p>
    </section>

    <section class="notary-article-link">
        <p> <a href="URL-статьи">ст. 35 «Основ законодательства Российской Федерации о нотариате»</a>.</p>
    </section>

    <aside class="faq-section">
        <p>Запишитесь на прием через госуслуги</p>
        <button class="faq-button"></button>
    </aside>
</section>

{% endblock %}